<div class="row">
  <div class="col w-100">
    <span>
      <h4>Редактирование дерева категорий</h4>
    </span>
    <mat-divider class="mb-2"></mat-divider>
  </div>
</div>

<div *ngIf="(loading$ | async) === false; else loadingTemplate" class="row">
  <form [formGroup]="form" class="col">
    <div class="row d-flex align-items-center">
      <div class="col-lg-5 col-md-7 col-sm-12">
        <mat-form-field
          class="w-100"
          *ngIf="trees$ | async as trees; else emptyTrees"
          appearance="fill"
        >
          <mat-label>Выбрать дерево</mat-label>
          <mat-select formControlName="treeSelect" name="tree">
            <mat-select-trigger *ngIf="form.controls.treeSelect.value as tree">
              <div class="d-flex align-items-center">
                <mat-icon *ngIf="tree.isDefault" class="me-2"
                  >playlist_add_check_circle</mat-icon
                >
                {{ tree.title }}
              </div>
            </mat-select-trigger>
            <mat-option *ngFor="let tree of trees" [value]="tree">
              <mat-icon *ngIf="tree.isDefault" class="me-2"
                >playlist_add_check_circle</mat-icon
              >
              {{ tree.title }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <ng-template #emptyTrees>
          <span>
            <h5>Деревьев категорий не найдено</h5>
          </span>
        </ng-template>
      </div>
      <div class="col-2">
        <button mat-raised-button class="create-button" (click)="createTree()">
          <div class="d-flex align-items-center">
            <mat-icon class="ms-3" mat-list-icon>add</mat-icon>
            <div class="ms-3">Создать новое</div>
          </div>
        </button>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <mat-divider></mat-divider>
      </div>
    </div>
    <div *ngIf="loadingTree$ | async; else loadingTemplate" class="row mb-3">
      <div *ngIf="editTree$ | async as editTree" class="col">
        <mat-card
          class="d-flex justify-content-between align-items-center w-100"
        >
          <div
            *ngIf="(isChanged$ | async) === true"
            class="d-flex align-items-center"
          >
            <button mat-icon-button matTooltip="Отмена" (click)="onCancel()">
              <mat-icon>cancel</mat-icon>
            </button>
            <button
              mat-icon-button
              matTooltip="Подтвердить"
              [disabled]="form.valid === false"
              (click)="onSave()"
            >
              <mat-icon>check_circle</mat-icon>
            </button>
          </div>
        </mat-card>
      </div>
    </div>
  </form>
</div>

<ng-template #loadingTemplate>
  <loader> </loader>
</ng-template>
