<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav-nav">
    <button
      mat-raised-button
      routerLink="/admin/shop"
      routerLinkActive="mat-accent"
      class="link-button"
    >
      <div class="d-flex align-items-center">
        <mat-icon class="ms-3" inline="true" mat-list-icon
          >store</mat-icon
        >
        <div class="ms-3">Магазин</div>
      </div>
    </button>
    <button
      mat-raised-button
      routerLink="/admin/categories"
      routerLinkActive="mat-accent"
      class="link-button"
    >
      <div class="d-flex align-items-center">
        <mat-icon class="ms-3" inline="true" mat-list-icon
          >account_tree</mat-icon
        >
        <div class="ms-3">Категории</div>
      </div>
    </button>
    <button
      mat-raised-button
      routerLink="/admin/products"
      routerLinkActive="mat-accent"
      class="link-button"
    >
      <div class="d-flex align-items-center">
        <mat-icon class="ms-3" inline="true" mat-list-icon>category</mat-icon>
        <div class="ms-3">Товары</div>
      </div>
    </button>
  </mat-sidenav>

  <div class="sidenav-body">
    <div class="container h-100">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>
