<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       autoReload="true"
       throwExceptions="false"
       internalLogLevel="Off">
	<targets>
		<default-wrapper xsi:type="AsyncWrapper">
			<wrapper-target xsi:type="RetryingWrapper"/>
		</default-wrapper>

		<target name="file"
		        xsi:type="File"
		        fileName="${basedir}/logs/StoreApi_${shortdate}.log"
		        layout="${time} | ${level:uppercase=true} | ${logger} | ${processid} | ${threadid} | ${windows-identity} | Message: ${message} | ${newline} ${exception:format=tostring}" />

		<target name="console"
		        xsi:type="Console"
		        layout="${time} | ${level:uppercase=true} | ${logger} | ${processid} | ${threadid} | ${windows-identity} | Message: ${message} | ${newline} ${exception:format=tostring}" />

	</targets>
	<rules>
		<logger name="*"
		        minlevel="Trace"
		        writeTo="file,console" />
		<logger name="*"
		        minlevel="Debug"
		        writeTo="StoreApi" />
	</rules>
</nlog>