Products
<!-- <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="tree">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
    <button
      mat-raised-button
      [routerLink]="node.path"
      routerLinkActive="mat-accent"
      class="link-button"
      [disabled]="node.disabled"
    >
      <div class="d-flex align-items-center">
        <mat-icon class="ms-3" mat-list-icon>{{ node.icon }}</mat-icon>
        <div class="ms-3">{{ node.title }}</div>
      </div>
    </button>
  </mat-tree-node>
  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
    <button
      mat-raised-button
      [routerLink]="node.path"
      routerLinkActive="mat-accent"
      (isActiveChange)="onRouterLinkActive($event, node)"
      class="link-button"
      [disabled]="node.disabled"
    >
      <div class="link-button-content">
        <div class="d-flex align-items-center">
          <mat-icon class="ms-3" mat-list-icon>{{ node.icon }}</mat-icon>
          <div class="ms-3">{{ node.title }}</div>
        </div>
        <div class="flex-grow-1"></div>
        <mat-icon matTreeNodeToggle class="mat-icon-rtl-mirror">
          {{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
        </mat-icon>
      </div>
    </button>
    <div
      class="nav-pills"
      [class.tree-invisible]="!treeControl.isExpanded(node)"
    >
      <ng-container matTreeNodeOutlet></ng-container>
    </div>
  </mat-nested-tree-node>
</mat-tree> -->
