<div *ngIf="(loading$ | async) === false; else loadingTemplate">
  <div *ngIf="profile$ | async as profile">
    <div class="row mb-3">
      <div class="col text-end">
        <button
          mat-raised-button
          class="submit-button me-2"
          [routerLink]="['/private/profile']"
        >
          Назад
        </button>
        <button mat-raised-button class="submit-button">Сохранить</button>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <mat-card class="card-avatar">
          <img mat-card-image [src]="profile.avatarData" alt="Аватар" />
        </mat-card>
      </div>
      <div class="col-8">
        <mat-card class="main-info-card">
          <mat-card-header class="flex-column">
            <!-- <mat-card-title
                >{{ profile.name }} {{ profile.surname }}</mat-card-title
              > -->
            <mat-form-field class="" appearance="fill">
              <mat-label>Имя</mat-label>
              <input
                matInput
                placeholder="{{ profile.name }}"
                value="{{ profile.name }}"
              />
            </mat-form-field>

            <mat-form-field class="" appearance="fill">
              <mat-label>Фамилия</mat-label>
              <input
                matInput
                placeholder="{{ profile.surname }}"
                value="{{ profile.surname }}"
              />
            </mat-form-field>

            <mat-card-subtitle
              ><span
                *ngIf="profile.roles != null && profile.roles.length > 0"
                >{{ profile.roles[0].title }}</span
              ></mat-card-subtitle
            >
          </mat-card-header>
          <mat-divider class="mb-2"></mat-divider>
          <mat-card-content>
            <table class="mat-table w-100 my-3">
              <tr class="mat-row py-3">
                <td class="mat-cell">Команда</td>
                <td
                  *ngIf="profile.team != null; else emptyTemplate"
                  class="mat-cell"
                >
                  <mat-form-field class="" appearance="fill">
                    <mat-label>Команда</mat-label>
                    <input
                      matInput
                      placeholder="{{ profile.team.title }}"
                      value="{{ profile.team.title }}"
                    />
                  </mat-form-field>
                </td>
              </tr>
              <tr class="mat-row py-3">
                <td class="mat-cell">Город</td>
                <td
                  *ngIf="profile.city != null; else emptyTemplate"
                  class="mat-cell"
                >
                  <mat-form-field class="" appearance="fill">
                    <mat-label>Город</mat-label>
                    <input
                      matInput
                      placeholder="{{ profile.city }}"
                      value="{{ profile.city }}"
                    />
                  </mat-form-field>
                </td>
              </tr>
              <tr class="mat-row py-3">
                <td class="mat-cell">Дата рождения</td>
                <td
                  *ngIf="profile.city != null; else emptyTemplate"
                  class="mat-cell"
                >
                  <!-- <mat-form-field appearance="fill">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field> -->
                  {{ profile.birthDate | date: "dd-MM-yyyy" }}
                </td>
              </tr>
            </table>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <!-- <div class="row">
        <div class="col">
          <mat-card class="main-info-card"> </mat-card>
        </div>
      </div> -->
  </div>
</div>
<ng-template #loadingTemplate>
  <loader> </loader>
</ng-template>

<ng-template #emptyTemplate>
  <td class="mat-cell">Не указан(а)</td>
</ng-template>
