<div class="d-flex justify-content-between align-items-center w-100">
  <div><h1>Shop&</h1></div>
  <div class="flex-grow-1"></div>
  <div>
    <div></div>
    <button
      mat-stroked-button
      class="p-1"
      [matMenuTriggerFor]="menu"
      aria-label="Home button"
    >
      <img
        mat-card-avatar
        class="me-3"
        [src]="(profile$ | async)?.avatarIcon"
      />
      <mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Настройки</span>
      </button>

      <button mat-menu-item (click)="onLogout()">
        <mat-icon>logout</mat-icon>
        <span>Выйти</span>
      </button>
    </mat-menu>
  </div>
  <div class="text-end">
    <div class="header-theme-toggler">
      <mat-icon class="me-3">bedtime</mat-icon>
      <form [formGroup]="form">
        <mat-slide-toggle formControlName="toggleControl" class="me-3">
        </mat-slide-toggle>
      </form>
      <mat-icon>brightness_5</mat-icon>
    </div>
  </div>
</div>
