<div *ngIf="(loading$ | async) === false; else loadingTemplate">
  <div *ngIf="team$ | async as team; else noTeamTemplate">
    <div class="row mb-3">
      <div class="col-4">
        <mat-card class="card-avatar">
          <img mat-card-image [src]="team.avatar" alt="Аватар" />
        </mat-card>
      </div>
      <div class="col-8">
        <mat-card class="main-info-card">
          <span [ngSwitch]="isEditing$ | async">
            <p *ngSwitchCase="true">
              <str-team-main-info-edit
                [loading]="loading$ | async"
                [team]="mapMainInfoTeamData(team)"
              ></str-team-main-info-edit>
            </p>
            <p *ngSwitchCase="false">
              <str-team-main-info
                [loading]="loading$ | async"
                [team]="mapMainInfoTeamData(team)"
              ></str-team-main-info>
            </p>
            <p *ngSwitchDefault>
              <str-team-main-info
                [loading]="loading$ | async"
                [team]="mapMainInfoTeamData(team)"
              ></str-team-main-info>
            </p>
          </span>
        </mat-card>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Члены команды</mat-card-title>
          </mat-card-header>
          <div class="">
            <str-team-members
              [teamMembers]="team.members"
              [loading]="loading$ | async"
            ></str-team-members>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<ng-template #noTeamTemplate>
  <div class="row mb-3">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Нет команды</mat-card-title>
        </mat-card-header>
        <div class="row m-5">
          <div class="col mb-3 text-end">
            <button
            mat-raised-button
            routerLink="/private/team/create"
            class="link-button"
          >
            <div class="d-flex align-items-center">
              <mat-icon class="ms-3" mat-list-icon>add</mat-icon>
              <div class="ms-3">Создать команду</div>
            </div>
          </button>
          </div>
          <div class="col text-start">
            <button
            mat-raised-button
            routerLink="/private/teams/search"
            class="link-button"
          >
            <div class="d-flex align-items-center">
              <!-- <mat-icon class="ms-3" mat-list-icon>person_add</mat-icon> -->
              <mat-icon class="ms-3" mat-list-icon>group_add</mat-icon>
              <div class="ms-3">Вступить в команду</div>
            </div>
          </button>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</ng-template>

<ng-template #loadingTemplate>
  <loader> </loader>
</ng-template>
