<div *ngIf="loading === false; else loadingTemplate">
  <mat-card-header>
    <div class="d-flex justify-content-between align-items-center w-100">
      <span>
        <h4>{{ team?.title }}</h4>
      </span>
      <div>
        <button mat-icon-button matTooltip="Редактировать" (click)="onEdit()">
          <mat-icon class="h3">edit_note</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-header>
  <mat-divider class="mb-2"></mat-divider>
  <mat-card-content class="main-info-content">
    <table class="mat-table w-100 my-3">
      <tr class="mat-row py-3">
        <td class="mat-cell">Командир</td>
        <td
          *ngIf="team?.teamLeader != null; else emptyRowTemplate"
          class="mat-cell"
        >
          {{ team?.teamLeader?.name }} {{ team?.teamLeader?.surname }}
        </td>
      </tr>
      <tr class="mat-row py-3">
        <td class="mat-cell">Город</td>
        <td *ngIf="team?.city != null; else emptyRowTemplate" class="mat-cell">
          {{ team?.city }}
        </td>
      </tr>
      <tr class="mat-row py-3">
        <td class="mat-cell">Дата основания</td>
        <td
          *ngIf="team?.foundationDate != null; else emptyRowTemplate"
          class="mat-cell"
        >
          {{ team?.foundationDate | date: "dd.MM.yyyyг." }}
        </td>
      </tr>
    </table>
  </mat-card-content>
</div>

<ng-template #emptyRowTemplate>
  <td class="mat-cell">Не указан(а)</td>
</ng-template>
<ng-template #loadingTemplate>
  <loader> </loader>
</ng-template>
