<div *ngIf="(loading$ | async) === false; else loadingTemplate">
  <div *ngIf="profile$ | async as profile">
    <div class="row mb-3">
      <div class="col text-end">
        <button
          mat-raised-button
          class="submit-button"
          [routerLink]="['/private/profile/edit']"
        >
          Редактировать
        </button>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <mat-card class="card-avatar">
          <img mat-card-image [src]="profile.avatarData" alt="Аватар" />
        </mat-card>
      </div>
      <div class="col-8">
        <mat-card class="main-info-card">
          <mat-card-header>
            <mat-card-title
              >{{ profile.name }} {{ profile.surname }}</mat-card-title
            >
            <mat-card-subtitle
              ><span
                *ngIf="profile.roles != null && profile.roles.length > 0"
                >{{ profile.roles[0].title }}</span
              ></mat-card-subtitle
            >
          </mat-card-header>
          <mat-divider class="mb-2"></mat-divider>
          <mat-card-content>
            <table class="mat-table w-100 my-3">
              <tr class="mat-row py-3">
                <td class="mat-cell">Команда</td>
                <td
                  *ngIf="profile.team != null; else emptyTemplate"
                  class="mat-cell"
                >
                  {{ profile.team.title }}
                </td>
              </tr>
              <tr class="mat-row py-3">
                <td class="mat-cell">Город</td>
                <td
                  *ngIf="profile.city != null; else emptyTemplate"
                  class="mat-cell"
                >
                  {{ profile.city }}
                </td>
              </tr>
              <tr class="mat-row py-3">
                <td class="mat-cell">Дата рождения</td>
                <td
                  *ngIf="profile.birthDate != null; else emptyTemplate"
                  class="mat-cell"
                >
                  {{ profile.birthDate | date: "dd.MM.yyyyг." }}
                </td>
              </tr>
            </table>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <!-- <div class="row">
        <div class="col">
          <mat-card class="main-info-card"> </mat-card>
        </div>
      </div> -->
  </div>
</div>
<ng-template #loadingTemplate>
  <loader> </loader>
</ng-template>

<ng-template #emptyTemplate>
  <td class="mat-cell">Не указан(а)</td>
</ng-template>
