<!-- Дерево категорий -->
<div *ngIf="root" class="row">
  <div class="col-xl-6 col-sm-12">
    <button mat-stroked-button class="node-box" (click)="onAddChild(root)">
      <div class="node-box-content">
        <div class="d-flex align-items-center">
          <mat-icon class="ms-3">add</mat-icon>
          <div class="ms-3">Добавить категорию</div>
        </div>
      </div>
    </button>
    <mat-tree
      #treeSelector
      [dataSource]="dataSource"
      [treeControl]="treeControl"
      class="node-list"
    >
      <!-- This is the tree node template for leaf nodes -->
      <mat-tree-node
        class="node-box"
        *matTreeNodeDef="let node"
        matTreeNodeToggle
      >
        <button
          mat-button
          class="node-box"
          [color]="getButtonColor(node)"
          (click)="onEditItem(node)"
        >
          <div class="node-box-content">
            <div class="d-flex align-items-center">
              <mat-icon
                *ngIf="node.isDisabled"
                class="mx-3"
                matTooltip="Категория отключена"
                >do_not_disturb_on</mat-icon
              >
              <div class="me-3">{{ node.title }}</div>
              <mat-icon class="me-3">{{ node.icon }}</mat-icon>
            </div>
            <div>
              <button
                class="me-2"
                mat-icon-button
                matTooltip="Удалить категорию"
                (click)="onRemove(node)"
              >
                <mat-icon>delete_outline</mat-icon>
              </button>
              <button
                class="me-2"
                mat-icon-button
                [disabled]="node.isDisabled"
                matTooltip="Добавить подкатегорию"
                (click)="onAddChild(node)"
              >
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
        </button>
      </mat-tree-node>
      <!-- This is the tree node template for expandable nodes -->
      <mat-nested-tree-node
        class="node-box"
        *matTreeNodeDef="let node; when: hasChild"
      >
        <button
          mat-button
          class="node-box"
          [color]="getButtonColor(node)"
          (click)="onEditItem(node)"
        >
          <div class="node-box-content">
            <div class="d-flex align-items-center">
              <button mat-icon-button matTreeNodeToggle>
                <mat-icon class="mat-icon-rtl-mirror">
                  {{
                    treeControl.isExpanded(node)
                      ? "expand_more"
                      : "chevron_right"
                  }}
                </mat-icon>
              </button>
              <mat-icon
                *ngIf="node.isDisabled"
                matTooltip="Категория отключена"
                class="mx-3"
                >do_not_disturb_on</mat-icon
              >
              <div class="me-3">{{ node.title }}</div>
              <mat-icon class="me-3">{{ node.icon }}</mat-icon>
            </div>
            <div>
              <button
                class="me-2"
                mat-icon-button
                matTooltip="Удалить категорию"
                (click)="onRemove(node)"
              >
                <mat-icon>delete_outline</mat-icon>
              </button>
              <button
                class="me-2"
                mat-icon-button
                [disabled]="node.isDisabled"
                matTooltip="Добавить подкатегорию"
                (click)="onAddChild(node)"
              >
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
        </button>
        <div
          class="nav-pills node-list"
          [class.tree-invisible]="!treeControl.isExpanded(node)"
        >
          <ng-container matTreeNodeOutlet></ng-container>
        </div>
      </mat-nested-tree-node>
    </mat-tree>
  </div>
  <div class="col-xl-6 col-sm-12">
    <str-tree-item-order
      [items]="editItemOrder"
      [selected]="editItem"
      (cancel)="editItemOrder = null"
      (selectedEvent)="onEditItem($event)"
      (changed)="reRenderTree()"
      (upEvent)="onUp()"
      (downEvent)="onDown()"
    >
    </str-tree-item-order>
    <str-tree-item-edit
      *ngIf="editItem"
      [item]="editItem"
      (cancel)="editItem = null"
      (disabled)="disableAllDescendants($event)"
      (changed)="reRenderTree()"
    ></str-tree-item-edit>
  </div>
</div>
